.root {
	-fx-font-family: "Open Sans", "Helvetica Neue", sans-serif;
	-fx-primary-color: #007AD9;
	-fx-secondary-color: #F4F4F4;
	-fx-success-color: #34A935;
	-fx-warning-color: #FFBA01;
	-fx-danger-color: #E91224;
	-fx-info-color: #007AD9;
	-fx-selection-color: #007AD9;
	-fx-faint-color: derive(-fx-primary-color, 75%);
	-fx-arrow-shape: "M15.7,3.7l-0.5-0.5c-0.2-0.2-0.4-0.3-0.6-0.3c-0.2,0-0.5,0.1-0.6,0.3l-6,6l-6-6C1.8,3,1.6,2.9,1.4,2.9S0.9,3,0.8,3.1L0.3,3.6c-0.3,0.3-0.3,0.9,0,1.2L7.4,12c0.2,0.2,0.4,0.3,0.6,0.3h0c0.2,0,0.5-0.1,0.6-0.3l7.1-7.1C15.9,4.7,16,4.5,16,4.3C16,4,15.9,3.8,15.7,3.7z";
	-check-shape: "m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2 0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1 0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z";
	-box-border: ladder(#ececec, black 20%, derive(#ececec, -15%) 30%);
}

.glyph-icon {
	-fx-font-family: "FontAwesome";
}

.button {
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: #ffffff;
}

.button:focused {
	-fx-background-color: -faint-color, derive(-fx-primary-color, 15%);
	-fx-background-insets: -2, 0, 2, -1.4, 2.6;
}

.button:hover {
	-fx-background-color: derive(-fx-primary-color, -15%);
}

.button:focused {
	-fx-background-color: -fx-faint-color, derive(-fx-primary-color, -15%);
	-fx-background-insets: -2, 0, 2, -1.4, 2.6;
}

.button:pressed {
	-fx-background-color: derive(-fx-primary-color, -30%);
}